<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>GetMethod</display-name>
    <servlet-name>GetMethod</servlet-name>
    <servlet-class>WebApp.GetMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMethod</servlet-name>
    <url-pattern>/GetMethod</url-pattern>
  </servlet-mapping>
  <display-name>JFS_WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GettingValues</display-name>
    <servlet-name>GettingValues</servlet-name>
    <servlet-class>WebApp.GettingValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingValues</servlet-name>
    <url-pattern>/GettingValues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productDisplayPage</display-name>
    <servlet-name>productDisplayPage</servlet-name>
    <servlet-class>WebApp.productDisplayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDisplayPage</servlet-name>
    <url-pattern>/productDisplayPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPage</display-name>
    <servlet-name>ServletPage</servlet-name>
    <servlet-class>WebApp.ServletPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPage</servlet-name>
    <url-pattern>/ServletPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletpage</display-name>
    <servlet-name>Servletpage</servlet-name>
    <servlet-class>WebApp.ServletPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletpage</servlet-name>
    <url-pattern>/Servletpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>WebApp.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>WebApp.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
</web-app>